.mines {
  border: 1px solid #fff;
  border-radius: 6px;

  display: flex;

  &-left-container {
    padding: 1rem;
    background-color: #9dc0ff54;
    max-width: 22rem;
    width: 22rem;
  }

  &-right-container {
    padding: 1rem;
    min-height: 40rem;
  }

  & .p-tabview-nav {
    padding: 0;

    & li {
      width: 50%;
    }

    & .p-tabview-nav-link {
        justify-content: center;
        text-decoration: none;
        color: #fff;
        padding: 0.8rem;
    }
  }
}
