<div class="mines">
    <div class="mines-left-container">
        <p-tabView styleClass="tabview-custom">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                            shape="circle" /> -->
                        <span class="font-bold white-space-nowrap m-0">
                            Manual
                        </span>
                    </div>
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet...
                </p>
            </p-tabPanel>
            <p-tabPanel header="Header II" [disabled]="true">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
                            shape="circle" /> -->
                        <span class="font-bold white-space-nowrap m-0" pTooltip="Coming Soon" >
                            Auto
                        </span>
                    </div>
                </ng-template>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </p>
            </p-tabPanel>
        </p-tabView>
    </div>
    <div class="mines-right-container">
        mines-right-container
    </div>
</div>