<div class="container login">
    <div class="row align-items-lg-center mt-3 mt-lg-0 justify-content-center login-row">
        <div class="col-lg-5">
            <p class="text-center login-heading-primary">Sign In</p>
            <div class="login-container">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="mb-3">
                                <p-inputGroup>
                                    <p-inputGroupAddon>
                                        <i class="pi pi-user"></i>
                                    </p-inputGroupAddon>
                                    <input pInputText placeholder="Username" />
                                </p-inputGroup>
                                <p-inputGroup class="mt-4">
                                    <p-inputGroupAddon>
                                        <i class="pi pi-lock"></i>
                                    </p-inputGroupAddon>
                                    <p-password [(ngModel)]="value" name="Harshit" [feedback]="false"
                                        [toggleMask]="true" placeholder="Password" />
                                </p-inputGroup>
                            </div>

                            <p class="forgot-password"><span (click)="onForgotPassword()">Forgot Password?</span></p>

                            <div class="d-flex align-items-center justify-content-end">
                                <p-button label="Sign In" />
                            </div>

                            <p-divider align="center" type="solid">
                                <b>OR</b>
                            </p-divider>

                            <div class="text-center">
                                <p-avatar image="assets/google-symbol.png" styleClass="mr-2" size="xlarge"
                                    shape="square" styleClass="sso-icons" />
                            </div>
                            <p class="mt-3 text-center">
                                Don’t have an account? <b><a [routerLink]="'/signup'">Register an Account</a></b>
                            </p>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>