.login {
  height: 100vh;

  &-row {
    height: 100%;
  }

  &-container {
    height: auto;
    padding: 2rem 3rem;
    border: 1px solid #fff;
    border-radius: 10px;
  }

  &-heading-primary {
    font-weight: bold;
    font-size: 2rem;
  }
}

.p-password-input {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.forgot-password {
  color: var(--primary-color);

  text-align: right;

  & span {
    cursor: pointer;
  }
}


.sso-icons {
  background: rgba(157, 192, 255, 0.3294117647);
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}
