<div class="container login">
    <div class="row align-items-center justify-content-center login-row">
        <div class="col-lg-5">
            <div class="login-container">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <h1>Login</h1>
                            <p>Sign In to your account</p>

                            <div class="mb-3">
                                <p-inputGroup>
                                    <p-inputGroupAddon>
                                        <i class="pi pi-user"></i>
                                    </p-inputGroupAddon>
                                    <input pInputText placeholder="Username" />
                                </p-inputGroup>
                                <p-inputGroup class="mt-4">
                                    <p-inputGroupAddon>
                                        <i class="pi pi-lock"></i>
                                    </p-inputGroupAddon>
                                    <p-password [(ngModel)]="value" name="Harshit" [feedback]="false"
                                        [toggleMask]="true" placeholder="Password" />
                                </p-inputGroup>
                            </div>

                            <p class="forgot-password" (click)="onForgotPassword()">Forgot Password?</p>

                            <div class="d-flex align-items-center justify-content-end">
                                <p-button label="Sign In" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>