<div>
    <div class=" mb-3">
        <label for="username">Bet Amount</label>
        <div>
            <p-inputNumber [(ngModel)]="value" mode="currency" inputId="currency-india" currency="INR"
                currencyDisplay="symbol" locale="en-IN" placeholder="₹00.00" />
        </div>
    </div>
    <div class="mb-4">
        <label for="username">Mines</label>
        <div>
            <p-dropdown [options]="minesOptions" [(ngModel)]="mines" optionLabel="label"
                placeholder="Select number of mines" />
        </div>
    </div>
    <div>
        <p-button label="Bet" class="bet-btn" />
    </div>
</div>