/* You can add global styles to this file, and also import other style files */
/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
  button {
    /* CSS to Reset */
    margin: 0;
    padding: 0;
  }
}

@import "bootstrap/scss/bootstrap";

@import "primeng/resources/themes/lara-dark-blue/theme.css" layer(primeng);
@import "primeng/resources/primeng.css" layer(primeng);
@import "primeicons/primeicons.css";

body {
  background-color: #1d222b;
  color: #fff;
}

.p-password {
  width: 100%;
}
