/* You can add global styles to this file, and also import other style files */
/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
  button {
    /* CSS to Reset */
    padding: 0.5rem 0.8rem !important;
    border-radius: 6px !important;
  }
}

@import "bootstrap/scss/bootstrap-reboot.scss" layer(reset);

@import "bootstrap/scss/bootstrap";

@import "primeng/resources/themes/lara-dark-blue/theme.css" layer(primeng);
@import "primeng/resources/primeng.css" layer(primeng);
@import "primeicons/primeicons.css";

body {
  background-color: #1d222b;
  color: #fff;
}

.p-password,
.p-dropdown,
.p-inputtext {
  width: 100%;
}

.p-inputtext:enabled:focus,
.p-dropdown:not(.p-disabled).p-focus,
.p-button:focus {
  box-shadow: none;
}

